.about{
  padding-top: 45px;
}

.about__subtitle {
  margin-bottom: 40px;
}

.about__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.about__text:not(:nth-last-child(1)) {
  padding-bottom: 50px;
}

.about__block-text {
  margin-bottom: 50px;
  min-height: 222px;
}

.about__blockquote {
  min-height: 325px;
}

.about__quotes {
  margin-bottom: 40px;
  padding-left: 31px;
  position: relative;
}

.about__big-text {
  font-weight: 400;
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
  display: block;
}

.about__quotes:before, :after {
  color: #6C0287;
  font-weight: 900;
  font-size: 44px;
}

.about__quotes:before {
  content: "“";
  position: absolute;
  left: 0;
  top: -9px;
}

.about__quotes:after {
  content: "”";
  margin-left: 9px;
  position: absolute;
  right: 110px;
  bottom: 0;
}

.about__figure-boss {
  min-width: 389px;
  min-height: 84px;
  display: flex;
  padding-left: 110px;
  padding-right: 20px;
}

.about__boss-description {
  float: right;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

.about__boss-description:before {
  content: "";
  background-image: url("../img/about/boss.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 80px;
  min-height: 80px;
  border-radius: 50%;
}

.about__text-boss{
 text-align: left;
  /*width: 280px;*/
}

.about__container {
  display: flex;
}

.about__image-block {
  min-width: 600px;
  min-height: 596px;
  margin-right: 80px;
}

.about__content-block-promo {
  display: flex;
  flex-direction: column;
  width: 500px;
}
