.about__subtitle {
  margin-bottom: 50px;
}

.about__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.about__text:not(:nth-last-child(1)) {
  padding-bottom: 40px;
}

.about__block-text {
  margin-bottom: 70px;
}

.about__big-text {
  font-weight: 400;
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
  position: relative;
}

.about__quotes {
  margin-bottom: 42px;
  margin-left: 50px;
  line-height: 0;
}

.about__quotes:before, :after {
  color: #6C0287;
  font-weight: 900;
  font-size: 44px;
}

.about__quotes:before {
  content: "“";
  position: relative;
  float: left;
  left: -50px;
  top: 18px;
}

.about__quotes:after {
  content: "”";
  position: relative;
  float: right;
  right: 100px;
  bottom: 26px;
}

.about__figure-boss {
  display: flex;
  justify-content: right;
  align-items: center;
}


.about__boss-descr {
  display: inline-block;
  width: 280px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.about__boss-img {
  border-radius: 50px;
  width: 80px;
  height: 80px;
  margin-right: 30px;
}
