.about{
  padding-top: 45px;
}

.about__subtitle {
  margin-bottom: 40px;
}

.about__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.about__text:not(:nth-last-child(1)) {
  padding-bottom: 50px;
}

.about__block-text {
  margin-bottom: 50px;
  min-height: 222px;
}

.about__blockquote {
  min-height: 325px;
}

.about__quotes {
  margin-bottom: 40px;
  padding-left: 31px;
  position: relative;
}

.about__big-text {
  font-weight: 400;
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
  display: block;
}

.about__quotes:before, :after {
  color: #6C0287;
  font-weight: 900;
  font-size: 44px;
}

.about__quotes:before {
  content: "“";
  position: absolute;
  left: 0;
  top: -9px;
}

.about__quotes:after {
  content: "”";
  margin-left: 9px;
  position: absolute;
  right: 110px;
  bottom: 0;
}

.about__figure-boss {
  min-height: 84px;
}

.about__boss-description {
  float: right;
  width: 280px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  position: relative;
  text-align: start;
}

.about__boss-description:before {
  content: "";
  position: absolute;
  left: -112px;
  background-image: url("https://s3-alpha-sig.figma.com/img/eb3c/907a/1407fc21edd4f173453640ea12d321db?Expires=1662940800&Signature=PnYKhDvywu7R7SJoCPy5pphWx7RToHkLjshpUmYTlr1UPUXKUKStTPLJpVLJBZfA~s75X2kK-5RIdBYNOP~rwB8jkaxzJ1Oq9NeKJRWzmVcK8GuJAFAysKAt8WWy0UEH4AWRGD~thmjFnSUOGOmv3zT2ghd3ZsVHVXTgO~DW6b9o6KGFGhOxImE1Vgh-Zn94RFViQnnJvXuIuMgtHpV0NCCfTeiQLFKG7Ns5E3wI06l0LLlPxzjh6WpTkkTrXDzsJZg-D0iPnnVjbjD-QTr7DSNeZxXAA29WS--nPfQmhilNdm8y76uqZFHAxCAMc0nV0jdKvIlKUfn2KPOA5EPXog__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 80px;
  min-height: 80px;
  border-radius: 50%;
}

.about__container {
  display: flex;
}

.about__image-block {
  min-width: 600px;
  min-height: 596px;
  margin-right: 80px;
}

.about__content-block-promo {
  display: flex;
  flex-direction: column;
  width: 500px;
}
