q {
  text-transform: uppercase;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 130px;
}

section:not(:nth-last-child(1)) {
  padding-bottom: 100px;
}

.subtitle {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}

main {
  padding-bottom: 100px;
}

.brake-word {
  display: block;
}
