q {
  text-transform: uppercase;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

section:not(:nth-last-child(1)) {
  padding-bottom: 100px;
}

.subtitle {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}

main {
  padding-bottom: 100px;
}

fieldset{
  border-style: none;
}
