.booking {
  max-width: 100%;
  background-color: #440F51;
  padding-top: 75px;
}

section.booking {
  padding-bottom: 85px;
}

.booking__subtitle {
  margin-bottom: 40px;
}

.booking__legend {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  margin-bottom: 40px;
}

.booking__room {
  display: flex;
  gap: 60px;
  justify-content: center;
  margin-bottom: 60px;
}

.booking__room > .booking__label {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;

  width: 250px;
  padding: 7px 5px;
  background: #FFFFFF;
  border-radius: 8px;
  color: #000;
  text-align: center;
  cursor: pointer;
}

.booking__set {
  display: flex;
  margin-bottom: 60px;
  gap: 115px;
}

.booking__subset {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.booking__subset:nth-of-type(1) {
  margin-left: 100px;
}

.booking__subset > .booking__legend {
  margin-bottom: 24px;
  text-align: left;
}

.booking__label {
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  text-align: left;
  position: relative;
}

.booking__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.booking__input + .booking__text {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.booking__input + .booking__text:before {
  content: '';
  display: inline-block;
  width: 27px;
  height: 27px;
  margin-right: 12px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
}

.booking__input + .booking__text_radio:before {
  border-radius: 50%;
}

.booking__reg {
  margin-bottom: 40px;
}

.booking__reg-set {
  display: flex;
  justify-content: space-around;
}

.booking__reg-subset {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.booking__reg-date-time {
  display: flex;
  justify-content: left;
  gap: 32px;
}

.booking__reg-input {
  height: 52px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  width: 300px;
  padding: 12px 0px 12px 20px;
}

.booking__reg-input-datetime{
  width: 134px;
}

.booking__reg-input::placeholder {
  color: black;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.booking__reg-text:after{
  content: '';
  background-image: url("../img/booking/down_arrow.svg");
  position: absolute;
  display: inline-block;
  width: 21px;
  height: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000;
  top: 18px;
  right: 27px;
}

.booking__reg-text_top:after{
  top: 6px;
}

.booking__reg-label {
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
}
