.booking {
  background-color: var(--color-440F51);
}

/*region booking__room*/
.booking__room {
  display: flex;
  gap: 60px;
  justify-content: space-between;
  margin-bottom: 60px;
}

.booking__legend {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  margin-bottom: 40px;
}

.booking__room-label {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;

  min-width: 250px;
  padding: 7px 15px;
  background: var(--color-FFFFFF);
  border-radius: 8px;
  color: var(--color-000000);
  text-align: center;
  cursor: pointer;
}

.booking__room-label:hover {
  outline: 3px solid var(--color-640AA3);
  background-color: var(--color-EADEED);
  transition: background-color .5s ease;
}

.booking__input:focus + .booking__room-label {
  outline: 3px solid var(--color-640AA3);
  background-color: var(--color-FFFFFF);
}

.booking__input:checked + .booking__room-label {
  outline: 3px solid var(--color-640AA3);
  background-color: var(--color-FFFFFF);
  color: var(--color-000000);
}

.booking__input:active + .booking__room-label:active {
  outline: 3px solid var(--color-FFFFFF);
  background-color: var(--color-6C0287);
  color: var(--color-FFFFFF);
}

.booking__input {
  position: absolute;
  opacity: 0;
}

.booking__input + .booking__icon {
  display: inline-flex;
  align-items: center;
}

.booking__input + .booking__icon:before {
  content: '';
  display: inline-block;
  min-width: 27px;
  min-height: 27px;
  margin-right: 12px;
  background-color: var(--color-FFFFFF);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.booking__input + .booking__icon_radio:before {
  border-radius: 50%;
}

/*рамка квадратная*/
.booking__input:focus + .booking__icon:before {
  outline: 1px solid var(--color-CD06FF);
  outline-offset: 2px;
}

/*рамка круглая*/
.booking__input:focus + .booking__icon_radio:before {
  outline: none;
}

.booking__icon_radio:after{
  position: absolute;
}

/*рамка круглая*/
.booking__input:focus + .booking__icon_radio:after {
  content: '';
  display: inline-block;
  min-width: 27px;
  min-height: 27px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  outline:  1px solid var(--color-CD06FF);
  outline-offset: 2px;
  left: 0px;
}

/*галочка*/
.booking__input:checked + .booking__icon:before {
  border-color: var(--color-CD06FF);
  background-color: var(--color-CD06FF);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/*кружочек*/
.booking__input:checked + .booking__icon_radio:before {
  border-color: var(--color-CD06FF);
  background-color: var(--color-CD06FF);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

/*endregion*/

/*region booking__game-set*/

.booking__game-set {
  display: flex;
  margin-bottom: 60px;
  justify-content: center;
}


.booking__set-label {
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  text-align: left;
  position: relative;
  width: max-content;
}

.booking__above-set {
  display: flex;
  justify-content: center;
  gap: 170px;
}

.booking__subset {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.booking__subset > .booking__legend {
  margin-bottom: 24px;
  text-align: center;
}

/*endregion */

/*region booking__reg*/

.booking__reg {
  display: flex;
  justify-content: center;
}

.booking__above-block {
  display: flex;
  flex-direction: column;
  justify-content: start;
  max-width: fit-content;
}

.booking__reg-block {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  margin-bottom: 50px;
}

.booking__reg-subset {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.booking__reg-above-subset {
  display: flex;
  gap: 50px;
}

.booking__reg-subblock {
  display: flex;
  flex-direction: column;
  gap: 34px;
  padding-top: 20px;
}

.booking__reg-input {
  border-style: none;
  min-height: 52px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-000000);
  padding: 12px 0px 12px 20px;
}

.booking__reg-input:focus {
  outline: 2px solid var(--color-CD06FF);
}

.booking__reg-input::placeholder {
  color: black;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.booking__reg-date-time {
  display: flex;
  gap: 32px;
  max-height: 52px;
}

.booking__reg-date-time .booking__reg-input {
  width: 134px;
  padding: 12px 0px 12px 10px;
}

.booking__reg-people .booking__reg-input {
  min-width: 300px;
}

.reg__label-name .booking__reg-input {
  min-width: 280px;
}

.reg__label-comm .booking__reg-input {
  min-width: 300px;
}

.booking__reg-label {
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.booking__submit-block {
  display: flex;
  justify-content: end;
}

.booking__submit-button {
  background-color: var(--color-FFFFFF);
  border-radius: 10px;
  min-width: 300px;
  min-height: 60px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: var(--color-6C0287);
  padding: 16px 50px;
  border-style: none;
  box-shadow: 0 0 10px var(--color-FFFFFF);
}

.booking__submit-button:hover {
  outline: 3px solid var(--color-6C0287);
  background-color: var(--color-EADEED);
  transition: background-color .8s ease;
}

.booking__submit-button:focus {
  outline: 3px solid var(--color-6C0287);
  background-color: var(--color-FFFFFF);
}


.booking__submit-button:active {
  outline: none;
  background-color: var(--color-EADEED);
}

/*endregion*/

@media (max-width: 1430px) {
  .booking__room-label {
    min-width: 180px;
    font-size: 20px;
    line-height: 24px;
    padding: 10px 20px;
  }

  .booking__room {
    justify-content: space-between;
    gap: 60px;
  }

  .booking__legend {
    margin-bottom: 30px;
  }

  .booking__game-set {
    margin-left: 0;
  }

  .booking__above-set {
    display: flex;
    justify-content: center;
    gap: 100px;
  }

  .booking__reg-block {
    margin-bottom: 50px;
  }
}


@media (max-width: 1100px) {

  .booking__game-set {
    justify-content: left;
  }

  .booking__room {
    margin-bottom: 50px;
  }

  .booking__room-label {
    min-width: 150px;
    padding: 10px 20px;
  }

  .booking__above-set {
    flex-wrap: wrap;
    justify-content: start;
    row-gap: 32px;
  }

  .booking__reg {
    display: block;
  }

  .booking__above-block {
    justify-content: space-between;
    max-width: unset;
  }

  .booking__reg-block {
    display: block;
    max-width: 980px;
  }

  .booking__reg-subblock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    padding: 0;
    margin-bottom: 35px;
  }

  .booking__reg-above-subset {
    justify-content: space-between;
    gap: 25px;
  }

  .booking__reg-date-time {
    gap: 14px;
  }
}

@media (max-width: 900px) {
  .booking__room {
    justify-content: space-around;
    column-gap: 29px;
  }

  .booking__room-label {
    font-size: 16px;
    line-height: 20px;
    padding: 9px 20px;
  }

  .booking__above-set {
    column-gap: 133px;
  }

  .booking__game-set {
    margin-bottom: 50px;
  }
}

@media (max-width: 700px) {
  .booking__subtitle {
    font-size: 14px;
    line-height: 20px;
  }

  .booking__room {
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 380px;
    margin: auto auto 30px;
    gap: 14px 20px;
  }

  .booking__room-label {
    min-width: 130px;
    font-size: 14px;
    line-height: 18px;
    padding: 6px 20px;
  }

  .booking__legend {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  .booking__game-set {
    justify-content: center;
    column-gap: 30px;
  }

  .booking__reg-subblock {
    flex-direction: column;
  }

  .booking__reg-above-subset {
    flex-direction: column;
  }

  .booking__reg-date-time {
    justify-content: center;
    column-gap: 12px;
  }

  .booking__reg-people {
    display: flex;
  }

  .booking__reg-subset {
    flex-direction: column;
    justify-content: center;
  }

  .reg__label-name, .reg__label-comm {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: fit-content;
  }

  .subset-name, .subset-comm, .booking__reg-people {
    justify-content: center;
    align-items: center;
  }

  .booking__reg-people .booking__reg-input {
    min-width: 280px;
  }

  .reg__label-name .booking__reg-input,
  .reg__label-comm .booking__reg-input {
    min-width: 280px;
  }

  .booking__submit-block {
    justify-content: center;
  }

  .booking__submit-button {
    font-size: 18px;
    line-height: 26px;
    padding: 17px 59px;
    min-width: 280px;
  }

  .booking__set-label {
    font-size: 16px;
    line-height: 18px;
  }

  .booking__reg-input {
    font-size: 14px;
    line-height: 18px;
    padding: 17px 0px 17px 20px;
  }

  .booking__reg-input::placeholder {
    font-size: 14px;
    line-height: 18px;
  }

  .booking__reg-above-subset {
    row-gap: 35px;
  }
}
