.contacts {
  padding: 50px 0 21px 0;
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.contacts__info {
  padding-left: 67px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  max-width: 330px;
}

.contacts__text {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  width: max-content;
  z-index: 0;
}

a .contacts__text {
  display: none;
}

.contacts__list {
  display: flex;
  gap: 26px;
  max-width: 280px;
  max-height: 49px;
}

.contacts__link {
  display: flex;
}

.contacts__link:hover {
  color: var(--color-EADEED);
  transition: all .8s ease;
}

.contacts__link:focus {
  color: var(--color-EADEED);
  outline: 1px solid var(--color-CD06FF);
}

.contacts__link:active {
  color: var(--color-CD06FF);
}

.contacts__location {
  position: relative;
  padding-bottom: 40px;
}

.contacts__phone {
  position: relative;
  padding-bottom: 11px;
}

.contacts__email {
  position: relative;
}

.contacts-effects:hover {
  color: var(--color-CD06FF);
  transition: color .5s ease;
}

.contacts-effects:focus {
  outline: 1px solid var(--color-CD06FF);
}

.contacts-effects:active {
  color: var(--color-CD06FF);
  outline: none;
}

.contacts__location:before, .contacts__phone:before, .contacts__email:before {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  min-width: 32px;
  min-height: 32px;
}

.contacts__phone {
}

.contacts__location:before {
  background-image: url("../img/contacts/location.svg");
  left: -55px;
  top: 18px;
}

.contacts__phone:before {
  background-image: url("../img/contacts/phone.svg");
  left: -55px;
  top: -1px;
}

.contacts__email:before {
  background-image: url("../img/contacts/envelope.svg");
  left: -55px;
  top: -2px;
}

.contacts__text-small {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  width: max-content;
}

.contacts__link-small:hover {
  color: var(--color-CD06FF);
  transition: color .5s ease;
}

.contacts__link-small:focus {
  outline: 1px solid var(--color-CD06FF);
}

.contacts__link-small:active {
  color: var(--color-CD06FF);
  outline: none;
}

.contacts__copyright {
  display: flex;
  justify-content: space-between;
}

.contacts__block-text {
  display: flex;
  flex-direction: column;
}

.contacts__block {
  margin-bottom: 156px;
  display: flex;
  justify-content: space-between;
  column-gap: 170px;
}

.contacts__block-map {
  min-width: 542px;
  min-height: fit-content;
}

.contacts__map {
  width: 100%;
  height: 100%;
}

@media (max-width: 1180px) {
  .contacts__block {
    column-gap: 30px;
  }
}

@media (max-width: 1024px) {
  .contacts {
    padding: 35px 0 21px 0;
  }

  .contacts__block {
    margin-bottom: 92px;
  }

  .contacts__item svg {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 1023px) {
  .contacts {
    padding: 35px 0 28px 0;
  }

  .contacts__block {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contacts__navigation {
    max-width: fit-content;
    margin: 0 auto;
  }

  .contacts__list {
    justify-content: center;
  }

  .contacts__block-map {
    min-width: 280px;
    min-height: fit-content;
  }

  .contacts__block-info {
    margin-bottom: 30px;
  }
}

@media (max-width: 520px) {
  .contacts__text {
    font-size: 14px;
    line-height: 18px;
  }

  .contacts__text-small {
    font-size: 12px;
    line-height: 16px;
  }

  .contacts__copyright {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contacts__info{
    margin-bottom: 35px;
  }

  .contacts__block-info {
    margin-bottom: 62px;
  }

  .contacts__text-small:not(:nth-last-child(1)) {
    margin-bottom: 19px;
  }

  .contacts__block-text .contacts__text-small:nth-child(1) {
    margin-bottom: 5px;
  }

  .contacts__block-text{
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 360px) {
  .contacts {
    padding: 15px 0 24px 0;
  }
}
