.faq__item {
  font-weight: 700;
  font-size: 24px;
  padding: 30px 70px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq__item:nth-child(odd) {
  background-color: var(--color-FFFFFF);
  color: var(--color-1C1A1A);
}

.faq__item:nth-child(even) {
  background-color: var(--color-440F51);
  color: var(--color-FFFFFF);
}

.faq__item:nth-child(odd):after {
  background-image: url("../img/faq/open-purple.svg");
}

.faq__item:nth-child(odd):hover:after {
  background-image: url("../img/faq/open-purple-hover.svg");
  transition: all .8s ease;
}

.faq__item:nth-child(odd):active:after {
  background-image: url("../img/faq/open-purple-active.svg");
  transition: all .8s ease;
}

.faq__item:nth-child(even):after {
  background-image: url("../img/faq/open.svg");
}

.faq__item:nth-child(even):hover:after {
  background-image: url("../img/faq/open-hover.svg");
  transition: all .8s ease;
}

.faq__item:nth-child(even):active:after {
  background-image: url("../img/faq/open-active.svg");
}

.faq__item:after {
  content: "";
  width: 46px;
  height: 46px;
  background-size: contain;
  float: right;
  background-repeat: no-repeat;
}

.faq__item:not(:last-child) {
  margin-bottom: 32px;
}
