.contacts {
  padding-bottom: 10px;
}

.contacts__subtitle {
  margin-bottom: 40px;
}

.contacts__address {
  padding-left: 67px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  max-width: 330px;
}

.contacts__text {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

a .contacts__text {
  display: none;
}

.contacts__list {
  display: flex;
  gap: 26px;
  max-width: 280px;
  max-height: 49px;
}

.contacts__location {
  position: relative;
  padding-bottom: 40px;
}

.contacts__phone {
  position: relative;
}

.contacts__email {
  position: relative;
}

.contacts__location:before, .contacts__phone:before, .contacts__email:before {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  min-width: 32px;
  min-height: 32px;
}

.contacts__phone {
  padding-bottom: 11px;
}

.contacts__location:before {
  background-image: url("../img/rooms/contacts/location.svg");
  left: -55px;
  top: 18px;
}

.contacts__phone:before {
  background-image: url("../img/rooms/contacts/phone.svg");
  left: -55px;
  top: -1px;
}

.contacts__email:before {
  background-image: url("../img/rooms/contacts/envelope.svg");
  left: -55px;
  top: -2px;
}

.contacts__block {
  margin-bottom: 156px;
  display: flex;
  gap: 170px;
}

.contacts__text-small {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.contacts__copyright {
  display: flex;
  justify-content: space-between;
}

.contacts__block-text {
  display: flex;
  flex-direction: column;
}
