.header {
  position: relative;
  margin: 30px 0;
  padding-top: 30px;
}

.header__container{
  display: flex;
  justify-content: space-between;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 96px;
}

.header__menu {
  display: flex;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 400;
  gap: 40px;
}

.header__call-button{
  padding-top: 2px;
  min-width: 280px;
  max-height: 55px;
  border: 3px solid #CD06FF;
  border-radius: 10px;
  background-color: inherit;
  color: inherit;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
}
