.main {
  padding: 25px 0 155px 0;
}

@media (max-width: 1310px) {
  .main {
    padding: 15px 0 35px 0;
  }
}

@media (max-width: 1024px) {
  .main {
    padding: 4px 0px 33px 0;
  }
}

@media (max-width: 768px) {
  .main {
    padding-bottom: 30px;
  }
}
@media (max-width: 750px) {
  .main {
    padding: 10px 0 15px 0;
  }
}
