.preview__subtitle {
  margin: 0 160px 40px 160px;
}

.preview__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
}

.preview__item {
  transition: all .8s ease;
}

.preview__item:nth-child(2){
  margin-top: 70px;
  margin-bottom: 40px;
}

.preview__item:nth-child(2n + 4){
  margin-top: -70px;
}

.preview__content {
  position: relative;
}

.preview__item:hover {
  transform: scale(1.1);
  z-index: 1;
}

.preview__text {
  position: absolute;
  left: 40px;
  top: 166px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}
