.preview {
  padding: 50px 0;
}

.preview__subtitle {
  margin-left: 149px;
  margin-right: 160px;
  line-height: 48px;
  margin-bottom: 45px;
}

.preview__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  justify-content: center;
}

.preview__item {
  max-width: 380px;
  transition: all .8s ease;
}

.preview__item:nth-child(2) {
  margin-top: 70px;
}

.preview__item:nth-child(5) {
  margin-top: 34px;
}

.preview__item:nth-child(2n + 4) {
  margin-top: -36px;
}

.preview__content {
  position: relative;
}

.preview__item:hover {
  transform: scale(1.1);
  z-index: 1;
}

.preview__text {
  position: absolute;
  left: 40px;
  bottom: 42px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.preview__item:nth-child(3n + 2) .preview__text {
  bottom: 10px;
}

@media (max-width: 1439px) {
  .preview__item {
    max-width: 287px;
  }
}

@media (max-width: 1310px) {
  .preview {
    padding: 41px 0 35px;
  }

  .preview__subtitle {
    margin-left: 160px;
    margin-right: 160px;
  }

  .preview__list {
    column-gap: 20px;
  }

  .preview__item:nth-child(2) {
    margin-top: 70px;
  }

  .preview__item:nth-child(5) {
    margin-top: 30px;
  }

  .preview__item:nth-child(2n + 4) {
    margin-top: -40px;
  }

  .preview__content {
    position: relative;
  }

  .preview__item:hover {
    transform: scale(1.1);
    z-index: 1;
  }

  .preview__text {
    left: 20px;
    bottom: 30px;
  }

  .preview__item:nth-child(5) .preview__text {
    max-width: 247px;
    top: 89px;
  }
}

@media (max-width: 1024px) {
  #preview {
    padding-top: 48px;
  }

  .preview__subtitle {
    line-height: 41px;
    padding-right: 8px;
    margin-bottom: 35px;
  }
  .preview__item:nth-child(2n + 4) {
    margin-top: -28px;
  }
  .preview__item:nth-child(2) {
    margin-top: 51px;
  }

  .preview__text{
    bottom: 35px;
  }
  .preview__item:nth-child(3n + 2) .preview__text {
    bottom: 5px;
  }
  .preview__item:nth-child(5)  {
    margin-top: 25px;
  }
}

@media (max-width: 1020px) {
  .preview {
    padding: 40px 0 30px;
  }

  .preview__subtitle {
    max-width: 527px;
    margin-right: auto;
    margin-left: auto;
  }

  .preview__list {
    gap: 20px;
  }

  .preview__item {
    max-width: 334px;
  }

  .preview__item:nth-child(2) {
    margin-top: 0px;
  }

  .preview__item:nth-child(5) {
    margin-top: 0px;
  }

  .preview__item:nth-child(2n + 4) {
    margin-top: 0px;
  }

  .preview__content {
    position: relative;
  }

  .preview__item:hover {
    transform: scale(1.1);
    z-index: 1;
  }

  .preview__text {
    position: absolute;
    left: 20px;
    bottom: 30px;
  }

  .preview__item:nth-child(5) .preview__text {
    max-width: 247px;
  }
}

@media (max-width: 750px) {
  .preview {
    padding: 23px 0 15px;
  }

  .preview__list {
    gap: 10px;
  }

  .preview__item:nth-child(5) .preview__text {
    max-width: 115px;
  }

  .preview__item:nth-child(5)
  .preview__text {
    max-width: 250px;
  }
}

@media (max-width: 700px) {
  .preview__container {
    max-width: 320px;
    margin: 0 auto;
  }

  .preview__item:nth-child(5)
  .preview__text {
    max-width: 250px;
    top: 38px;
  }

  .preview__item {
    max-width: 135px;
  }

  .preview__text {
    left: 10px;
    bottom: 31px;
    font-size: 10px;
    line-height: 14px;
  }
}
