.prospect__subtitle {
  margin-bottom: 40px;
}

.prospect__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  row-gap: 30px;
}

.prospect__text{
  position: absolute;
}
