.reviews__img {
  margin-bottom: 12px;
  border-radius: 50%;
  width: 280px;
  height: 280px;
  object-fit: cover;
}

.reviews__article {
  display: flex;
}

.reviews__subtitle {
  margin-bottom: 50px;
}

.reviews__item {
  margin-bottom: 50px;
}

.reviews__figure {
  text-align: center;
  margin-right: 20px;
}

.reviews__review-text {
  width: 680px;
  height: 320px;
  padding-top: 53px;
}
