#reviews {
  padding-top: 21px;
}

.reviews__subtitle {
  margin-bottom: 50px;
}

.reviews__block-img {
  position: relative;
  margin-bottom: 9px;
  border-radius: 50%;
  width: 280px;
  height: 280px;
  overflow: hidden;
}

.reviews__block-img:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(50% 50% at 50% 50%,
  rgba(196, 196, 196, 0) 0%, rgba(108, 2, 135, 0.5) 100%);
}

.reviews__img {
  width: 100%;
}


.reviews__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviews__item:not(:nth-last-child(1)) {
  margin-bottom: 50px;
}

.reviews__figure {
  text-align: center;
  margin-right: 20px;
}

.reviews__text-size {
  font-size: 20px;
  line-height: 28px;
}

.reviews__text {
  padding-bottom: 138px;
  max-width: 680px;
}

.reviews__container {
  position: relative;
}

.reviews__button-prev,
.reviews__button-next {
  position: absolute;
  width: 90px;
  height: 90px;
  top: calc(50% - 45px);
  z-index: 3;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
}

.reviews__button-prev {
  left: -27px;
}

.reviews__button-next {
  right: -27px;
}


@media (max-width: 1430px) {
  .reviews__item {
    flex-direction: column;
  }

  .reviews__figure {
    margin-right: 0;
    margin-bottom: 31px;
  }

  .reviews__block-img {
    margin-bottom: 20px;
  }

  .reviews__text {
    padding-bottom: 0px;
  }

  .reviews__button-prev {
    left: 258px;
    top: 89px;
  }

  .reviews__button-next {
    right: 258px;
    top: 89px;
  }
}

@media (max-width: 1150px) {
  .reviews__figure {
    margin-right: 38px;
  }

  .reviews__text {
    max-width: 515px;
    padding-top: 33px;
  }

  .reviews__block-img {
    width: 172px;
    height: 172px;
    margin-bottom: 22px;
  }

  .reviews__list {
    padding-left: 100px;
  }

  .reviews__text-size {
    font-size: 18px;
    line-height: 26px;
  }

  .reviews__item:not(:nth-last-child(1)) {
    margin-bottom: 40px;
  }

  .reviews__button-prev {
    left: 250px;
    top: 47px;
  }

  .reviews__button-next {
    right: 287px;
    top: 47px;
  }
}

@media (max-width: 1024px) {
  .reviews__button-prev {
    left: 0px;
    top: 44px;
  }

  .reviews__button-next {
    right: -62px;
    top: 41px;
  }

  .reviews__item {
    flex-direction: row;
    align-items: start;
  }

  .reviews__subtitle {
    margin-bottom: 28px;
  }

  .reviews__figure {
    margin-right: 18px;
    margin-bottom: 0;
  }

  .reviews__text-size {
    padding-left: 20px;
    padding-top: 10px;
  }
}

@media (max-width: 768px) {
  .reviews__figure {
    margin-right: 15px;
  }

  .reviews__text {
    max-width: 393px;
    padding-top: 30px;
  }

  .reviews__block-img {
    width: 153px;
    height: 153px;
    margin-bottom: 17px;
  }

  .reviews__list {
    padding-left: 63px;
  }

  .reviews__text-size {
    font-size: 16px;
    line-height: 22px;
  }

  .reviews__item:not(:nth-last-child(1)) {
    margin-bottom: 30px;
  }

  .reviews__button-prev,
  .reviews__button-next {
    width: 45px;
    height: 45px;
  }

  .reviews__button-prev {
    left: 201px;
    top: 58px;
  }

  .reviews__button-next {
    right: 214px;
    top: 58px;
  }
}

@media (max-width: 700px) {

  .reviews__container {
    max-width: 320px;
    margin: 0 auto;
  }

  .reviews__item {
    flex-direction: column;
    align-items: center;
  }

  .reviews__text {
    max-width: 280px;
    padding-top: 16px;
  }

  .reviews__block-img {
    width: 86px;
    height: 86px;
    margin: 0px auto 9px auto;
  }

  .reviews__list {
    padding-left: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .reviews__figure {
    margin: 0px;
  }

  .reviews__text-size {
    font-size: 12px;
    line-height: 16px;
  }

  .reviews__item:not(:nth-last-child(1)) {
    margin-bottom: 20px;
  }

  .reviews__button-prev {
    left: 40px;
    top: 25px;
  }

  .reviews__button-next {
    right: 40px;
    top: 25px;
  }
}
