.reviews__block-img {
  position: relative;
  margin-bottom: 12px;
  border-radius: 50%;
  min-width: 280px;
  min-height: 280px;
  overflow: hidden;
}

.reviews__block-img:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(50% 50% at 50% 50%,
  rgba(196, 196, 196, 0) 0%, rgba(108, 2, 135, 0.5) 100%);
}

.reviews__img {
  width: 100%;
  object-fit: cover;
}

.reviews__article {
  display: flex;
}

.reviews__subtitle {
  margin-bottom: 40px;
}

.reviews__item:not(:nth-last-child(1)) {
  margin-bottom: 50px;
}

.reviews__figure {
  text-align: center;
  margin-right: 20px;
}

.reviews__review-text {
  padding-top: 53px;
  width: 680px;
}
