.rooms__subtitle {
  margin-bottom: 40px;
}

.rooms__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 20px;
}

.rooms__item {
  min-height: 349px;
  min-width: 580px;
  display: flex;
  text-align: center;
  flex-direction: column;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  text-transform: uppercase;
  padding-top: 135px;
  background-size: 100%;
}

.rooms__item_80 {
  background-image: url("../img/rooms/main/80s_vibes.jpg");
}

.rooms__item_starwars {
background-image: url("../img/rooms/main/star_wars.jpg");
}

.rooms__item_wildwest {
  background-image: url("../img/rooms/main/wild_west.jpg");
}

.rooms__item_neonstyle {
background-image: url("../img/rooms/main/neon_style.jpg");
}
