

.rooms__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.rooms__item {
  min-height: 349px;
  min-width: 580px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  text-transform: uppercase;
  background-size: cover;
}

.rooms__item:nth-child(1) {
  background-image: url("../img/rooms/80s_vibes.jpg");
}

.rooms__item:nth-child(2) {
  background-image: url("../img/rooms/star_wars.jpg");
}

.rooms__item:nth-child(3) {
  background-image: url("../img/rooms/wild_west.jpg");
}

.rooms__item:nth-child(4) {
  background-image: url("../img/rooms/neon_style.jpg");
}

.rooms__text {
  max-width: 250px;
  text-align: center;
}

@media (max-width: 1439px) {
  .rooms {
    padding: 50px 0;
  }

  .rooms__item {
    min-width: 443px;
    min-height: 267px;
  }

  .rooms__text {
    font-size: 50px;
    line-height: 60px;
  }
}


@media (max-width: 1040px) {
  .rooms {
    padding: 50px 0;
  }

  .rooms__list {
    gap: 18px
  }

  .rooms__item {
    min-width: 335px;
    min-height: 200px;
  }

  .rooms__text {
    font-size: 40px;
    line-height: 50px;
  }
}

@media (max-width: 390px) {
  .rooms {
    padding: 50px 0;
  }

  .rooms__list {
    gap: 10px
  }

  .rooms__item {
    min-width: 280px;
    min-height: 168px;
  }

  .rooms__text {
    font-size: 26px;
    line-height: 34px;
  }
}

