.rooms__subtitle {
  margin-bottom: 60px;
}

.rooms__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  row-gap: 60px;
}

.rooms__figure {
  position: relative;
}

.rooms__img {
  width: 100%;
}

.rooms__text {
  position: absolute;
  width: 100%;
  max-width: 250px;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  text-transform: uppercase;
  z-index: 1;
  left: 42%;
  bottom: 38.9%;
}
